# gitignore for golang project

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide binary
glide

# Output of go tool trace
trace.out

# Output of go tool pprof
*.pprof

# Output of `go tool cgo`
_cgo_gotypes.go
_cgo_defun.c
_cgo_gcc*.c
_cgo_gcc*.h
_cgo_gofiles.go
_cgo_export.*
_cgo_main.c
_cgo_exec

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_vendor/
bin/
pkg/
Godeps/_workspace/

# govendor
/vendor/
/vendor.json
/vendor/vendor.json

# End of file